/* img {
  max-width: 100%;
  height: auto;
} */

main {
  overflow-x: hidden;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  height: 100vh;
}

.bannerImg {
  background-image: url(img/home-whack6.jpg);
  background-attachment: scroll;
  transform: scale(1.5);
  background-position: center center;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: -10em;
  bottom: 0;
}

.bannerImg {
  bottom: 10vw;
}

.greenBox {
  top: 0;
  background-color: var(--color-3);
  z-index: 4;
  height: 100%;
  width: 100%;
}

.greenBox img {
  position: absolute;
  height: 26.5vw;
  width: auto;
}

.moodBanner1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-5);
  z-index: 3;
  overflow-y: hidden;
}

.moodBanner2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-2);
  z-index: 3;
  overflow-y: hidden;
  margin-top: 4em;
}

.beigeBox {
  z-index: 3;
  padding: 8vw 5vw 6vw 5vw;
}

.bannerImg1 {
  position: relative;
  height: 40vw;
}

.bannerImg1 img {
  position: absolute;
  top: -8vw;
}
.beigeBox h3 {
  text-align: center;
  margin-top: -2em;
  padding-bottom: 2em;
}
.beigeBox h2 {
  padding-bottom: 5vw;
}

h4 {
  font-weight: 100;
  padding: 5vw 15vw 5vw 15vw;
}

.beigeBox a {
  margin-bottom: -2vw;
}

/*styling top sellers*/

/* product */

.h1TopSellers {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

article img {
  max-width: 100%;
}
.product a {
  text-decoration: none;
  text-underline-position: none;
}
.info {
  display: grid;
  grid-template-columns: 4fr 1fr;
  text-align: left;
}
.container img {
  width: 100%;
}

.container {
  background-color: var(--color-5);
  max-height: 100%;
  height: calc((90vw) / 4 * (1.2));
  overflow: hidden;
}

article h2 {
  font-size: 1.2rem;
  margin-top: 0;
  font-family: var(--primary-font);
  font-weight: 300;
  font-weight: bold;
}

article .collection {
  margin-top: 5px;
}

.h3style {
  margin-top: 0;
  margin-bottom: 5px;
}
#filters ul {
  list-style: none;
}

#topSeller {
  padding-left: 2vw;
  padding-right: 2vw;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2vw;
}

#button {
  padding-top: 1.5em;
  display: flex;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .banner {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .mobileHide {
    display: none;
  }

  .bannerImg {
    transform: scale(1);
    bottom: 0;
    background-image: url(img/home-whack6.jpg);
    background-attachment: scroll;
    background-position: center center;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: -16em;
  }
  .bannerImg1 {
    position: relative;
    height: auto;
    width: 100vw;
  }

  .bannerImg1 img {
    position: relative;
    scale: (2);
  }

  .beigeBox {
    width: 100vw;
    height: 34vw;
  }
  .greenBox {
    top: 0;
    background-color: var(--color-3);
    z-index: 4;
    height: 35%;
    width: 100%;
  }

  .greenBox img {
    position: static;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .moodBanner1 {
    display: flex;
    flex-wrap: wrap;
  }

  .moodBanner2 {
    display: flex;
    flex-wrap: wrap;
  }

  .moodBanner1 a {
    font-size: 0.8em;
  }

  .moodBanner2 a {
    font-size: 0.8em;
  }

  h1 {
    font-family: var(--primary-font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  h2,
  h3,
  h4,
  h5,
  p {
    font-size: 1em;
  }

  li {
    font-size: 0.8em;
  }

  .container {
    background-color: var(--color-5);
    max-height: 100%;
    height: calc((100vw - 2.5em) / 1 * (0.6));
    overflow: hidden;
  }

  #topSeller {
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
  }
  .collection {
    margin-bottom: 1.5em;
  }
}
