/* img {
  max-width: 100%;
  height: auto;
} */
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bannerImg {
  background-color: var(--color-6);
  height: 100vh; 
  overflow: hidden;
}

.bannerImg img {
  margin-top: calc(-20px - 10vw);
  transform: scale(1.15);
  
}
.greenBox {padding: 0vw 1vw;
  background-color: var(--color-3);
  height: 100vh;
}

.moodBanner1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beigeBox {
  background-color: var(--color-6);
}

p {
  margin: 10vw;
}

.bestSellers {display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2em ;
margin: 0em 2em;}

.introText {text-align: center;line-height: 1.5;}



  @media only screen and (max-width: 1000px) {
    .banner {
      display: flex;
      flex-wrap: wrap;
    }
    
    .greenBox {height: 40vw;
      padding: 0vw 2vw;
  /*   .bannerImg img {width: fit-content;
      margin-top: 0; */
    }
    .greenBox img 
    h1 {
      font-family: var(--primary-font);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.4em;
    }
  
    section {
        display: flex;
        flex-wrap: wrap;
    }
  
    h2, h3, h4, h5, p{
      font-size: 1em;
    }
  }
     
  }
