/* img {
  max-width: 100%;
  height: auto;
} */

main {overflow-x: hidden;}


.banner {display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  height: 100vh;
}
  
  .bannerImg {
  background-image: url(img/home-whack6.jpg);
  background-attachment:scroll;
  transform: scale(1.5);
    background-position: center center;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: -8em;
    
  }

.greenBox {
  top: 0;
  background-color: var(--color-3);
  z-index: 4;
  height: 100%;
  width: 100%;
   }

.greenBox img { position: absolute;
height: 26.5vw;
width: auto;



/* 
.bannerImg {
  background-color: var(--color-6);
  height: 100vh;
}

.bannerImg img {
  /* padding-top: -2em; */
  /* margin-top: calc(0
  .9em - 11vw);  */
  /* max-height: 100%;
  transform: scale(2); */
  
}
.greenBox {/* padding: 0vw 1vw; */
  /* height: 100vh; */
} */

.moodBanner1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beigeBox {
  background-color: var(--color-6);
}

h4 {text-transform: lowercase;
  font-weight: lighter;
  margin: 10vw;
}

/*styling top sellers*/



#wrapper {
  background-color: var(--color-4);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 0 0 0;
}
#wrapper p {
  font-family: var(--secondary-font);
  font-size: 1em;
  text-align: center;
  padding: 0 10vw 0 10vw;
}

#filtersandproductlist {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#filters {
  padding: 12px 50px;
}

#productlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

/* product */

article img {
  max-width: 100%;
}
.product a {
  text-decoration: none;
  text-underline-position: none;
}
.product {
  /* margin: 1rem 0.2rem; */
}
.info {
  display: grid;
  grid-template-columns: 4fr 1fr;
  text-align: left;
}
 .container img {width: 100%;}  

.container {background-color:var(--color-5);
  max-height: 100%;height: calc((100vw - 1.5em)/4*(1.2));
  overflow:hidden;}
article h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: var(--primary-font);
  font-weight: 300;
  font-weight: bold;
}

article .collection {
  margin-top: 5px;
}

.h3style {
  margin-top: 0;
  margin-bottom: 5px;
}
#filters ul {
  list-style: none;
}

#topSeller {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
}

  @media only screen and (max-width: 700px) {
    .banner {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
      
      .bannerImg { transform: scale(1);
      background-image: url(img/home-whack6.jpg);
      background-attachment:scroll;
        background-position: center center;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin-top: -10em;
      }
  
    .greenBox {
      top: 0;
      background-color: var(--color-3);
      z-index: 4;
      height: 40%;
      width: 100%;
       }

    .greenBox img { position:relative; display: inline-flex;
      align-items: center;
    height: 100%;
  width: 100%;}
  



    h1 {
      font-family: var(--primary-font);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.4em;
    }
  
    section {
        display: flex;
        flex-wrap: wrap;
    }
  
    h2, h3, h4, h5, p{
      font-size: 1em;
    }
  
    li {font-size: 0.8em;}
  }
     
  
