nav {
  position: absolute;
  /* width: 100vw; */
  height: 3em;
  top: 0;
  z-index: 99;
}
#wrapper {
  background-color: var(--color-4);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 0 0 0;
}
#wrapper p {
  font-family: var(--primary-font);
  font-size: 1em;
  text-align: center;
  margin-bottom: 10px;
}

#wrapper h2 {
  font-size: 2.2em;
  padding-bottom: 1em;
  padding-top: 4em;
}

#filtersandproductlist {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 2em 3em;
}
#filters {
  padding: 12px;
}

#filters a {
  font-weight: 300;
}
#filters a:active {
  font-weight: bold;
}
#filters a:visited {
  font-weight: bold;
}

#productlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-left: 0;
}
a {
  text-align: left;
  text-decoration: none;
  text-underline-position: none;
}
/* product */

article img {
  max-width: 100%;
}

.product {
  margin: 1rem 0.2rem;
}
.info {
  display: grid;
  grid-template-columns: 6fr 1fr;
  text-align: left;
  margin-top: 3px;
  margin-left: 3px;
}

.h3style {
  margin-top: 3px;
}
#filters ul {
  list-style: none;
}
h4 {
  text-align: left;
}

@media only screen and (max-width: 700px) {
  #filtersandproductlist {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 3em;
  }

  aside ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 10px;
  }

  #wrapper h2 {
    padding: 4em 2em 0.5em 2em;
    font-size: 1.6em;
  }
  #wrapper p {
    text-align: center;
    margin-bottom: 10px;
  }
}
