@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Karla:wght@300;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  height: 100%;
width: 100vw;
overflow-x: hidden;}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --bg-color: White;
  --link-color: rgb(36, 36, 36);
  --link-hover-color: black;
  --color-1: black;
  --color-2: #ffd3d3;
  --color-3: #1d8447;
  --color-4: #ed8012;
  --color-5: #ebeae5;
  --primary-font: "Karla", sans-serif;
  --secondary-font: "Cormorant Garamond", serif;
  --font-style: normal;
  --text-transform: uppercase;
  --main-text-color: black;
  --white-space: 1rem;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 0 0 0;
}
main {
  margin: 0 0 0 0;
  font-family: var(--primary-font);
  color: var(--color-1);
}

a {
  display: block;
  text-align: center;
  font-family: var(--primary-font);
  color: var(--color-1);
  text-decoration: underline;
  text-underline-position: under;
  font-weight: 700;
  font-size: 1em;
}

a:hover {
  font-style: italic;
  text-decoration: underline;
  text-underline-position: under;
}

/* sticky main nav below */

nav li a {
  list-style-type: none;
  display: block;
}

nav {
  position: absolute;
  width: 100vw;
  bottom: 0;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-underline-position: under;
  padding: 0em 1em;
  display: inline-block;
  font-size: 1.2em;
}
nav ul {
  padding: 0vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--color-2);
}

.navLeft {
  display: inline-flex;
  align-items: center;
  padding-left: 1em;
}

.navRight {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1em;
}
.navRight li a {
  float: right;
  height: auto;
}

.bag {
  width: 1em;
}
.search {
  width: 1em;
}

.logo {text-align: center;
  height: 3em;
  margin-bottom: -0.2em;
}

.logo img {height: 100%;}
a .link {
  text-align: center;
}

/* burger menu below */
#menuToggle {
  position: absolute;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: underline;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input {
  width: 40px;
  height: 34px;
  position: absolute;
  display: block;
  top: -10px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
#menuToggle span {
  display: block;
  width: 34px;
  height: 3px;
  margin-bottom: 8px;
  position: relative;
  background: black;
  z-index: 1;
  transition: transform 0.3s ease-out;
  opacity: 0.3s ease;
}

#menuToggle span:first-child {
  transform-origin: bottom left;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: bottom left;
  transform-origin: center;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform-origin: center;
  transform: translate(0%, 350%) rotate(45deg);
  background: black;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: translate(0%, -350%) rotate(-45deg);
}

#menu {
  display: grid;
  text-align: left;
  position: absolute;
  width: 100vw;
  margin: -4em 0vw 0vw -4em;
  padding: 20vw;
  background: #ededed;
  list-style-type: none;
  --webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.4s ease-in-out;
}

#menu li {
  padding: 10px 0;
  font-size: 1em;
  display: inline;
}

button {
  border: 2px solid var(--color-1);
  padding: 1em 1.2em;
  border-radius: 1.5em;
  text-align: center;
  text-decoration: none;
  font: 1.25em/1 var(--primary-font);
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 1em 1em 1em 0em;
}

button:hover {
  background-color: var(--color-1);
  color: var(--bg-color);
  transform: scale(1.03);
}

button:active {
  background-color: var(--bg-color);
  color: var(--color-1);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
}

h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6em;
}

h2 {
  padding: 4em 4em 2em 4em;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.6em;
  text-align:center;
}

h3 {
  font-size: 1em;
  font-family: var(--primary-font);
  font-weight: 300;
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2.4em;
  font-weight: bold;
}

h5{
  font-size: .8em;
  padding-left: .8em;
  line-height: 1.5em;
}


p {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: 200;
  line-height: 1.2em;
}

/*footer styling below*/

.emailBanner {background-color: var(--color-3);padding-bottom: 2em;}

.h1Email {text-align: center; padding-top: 1em;
padding-bottom: 0.5em;}

.emailBanner h3 {text-align: center; text-transform: lowercase;}

.wrapperFooter { display: grid;
  width: 100%;
  grid-template-columns: 4fr 2fr;
  padding: 2em;
  background-color: var(--color-5);
}

.emailInput {
  border-bottom: 1px black solid;
 padding: 1em;
}

.ul1  {display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  padding: 1em;
}

.ul1 li {
  display: inline-flex;
  }

.ul2 {display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ul2 li {/* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;} */
}

.ul3 {display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ul3 img {max-height: 1.5em;}

.signature {font-size:0.8em; text-align: center;text-transform: lowercase;padding: 1em;background-color: var(--color-5)}